.image-slider {
    opacity: 0;
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;

    img {
        height: 23vw;
        margin: 2vh;
        border-radius: 2%;
    }
}