@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Nanum+Gothic+Coding&family=Playfair+Display:wght@700&family=Unica+One&display=swap');

.project-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-container.absolute-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.project-infos {
    height: 100%;
    margin-right: 7vw;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.project-name {
    font-size: 5vw;
    margin-top: 15vh;
    font-family: 'Nanum Gothic Coding';
    height: 20vh;
}

.project-desc {
    margin-top: 5vh;
    font-size: 1.5vw;
    text-align: justify;
}

.project-pictures {
    position: relative;
    min-height: 100%;
    flex: 3;
}