.project-container {
    width: 100%;
    height: 100vh;
    display: flex;
    color: black;
    font-size: min(1vw, 1em);
}

.project-container.absolute-container {
    position: absolute;
    top: 0;
    left: 0;
}

.project-infos {
    width: 50%;
    height: 100%;
    padding: 0 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    perspective: 100rem;

    > * {
        transform-origin: left;
    }
}

.project-media {
    width: 50%;
    height: 100%;
    position: relative;
}

.project-name {
    font-size: 3em;
    font-family: 'Nanum Gothic Coding';
}

.project-desc {
    margin: 5vh 0;
    font-size: 1.5em;
    text-align: justify;
}

.project-button {
    --buton-color: black;
    cursor: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    height: max(40px, 8vh);
    background-color: transparent;
    border: 3px solid var(--buton-color);
    margin: 0.5em 0;
    text-align: center;
    font-family: 'Nanum Gothic Coding';
    font-size: 1.75em;
    text-transform: capitalize;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;

    &:hover {
        box-shadow: inset 0 100px 0 1px var(--buton-color); // 1px prevents button flickering when animating with GSAP
        color: rgb(219, 197, 197);
        letter-spacing: 3px;
    }
}

.project-image {
    width: 50%;
    position: absolute;
}