@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Playfair+Display:wght@700&family=Unica+One&display=swap');

.top {
    padding: 200px 0 0;
    overflow: hidden;
}

.name {
    font-size: 250px;
    letter-spacing: 5px;
    text-align: left;
    line-height: 250px;
    font-family: 'Unica One', cursive;
    margin: 0 100px;
}