@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Playfair+Display:wght@700&family=Unica+One&display=swap');

.top {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    box-sizing: border-box;
    mix-blend-mode: difference;
    // justify-content: center;
}

.name {
    font-size: 12rem;
    text-align: left;
    font-family: 'Unica One', cursive;
    margin: 0 15vh;
}

.title {
    font-size: 3rem;
    // position: absolute;
    // right: 10vw;
    // bottom: 12rem;
    padding-right: 15rem;
    text-align: end;
    white-space: nowrap;
    font-family: 'Antic Slab', sans-serif;
    color: #ffc1c1;
}

.show-artworks {
    position: absolute;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    p {
        font-size: 2vw;
        font-family: 'Antic Slab', sans-serif;
        margin: 0;
        margin-bottom: 1vh;

        transition: 0.15s;

        &:hover {
            transform: scale(1.25);
        }
    }
}