@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    font-size: 24px;
    letter-spacing: 1;
    font-family: 'Syncopate', sans-serif;
    color: #464646;
    text-transform: uppercase;
}