* {
  box-sizing: border-box;
}

#viewport {
  /* background-color: #151320; */
  color: #ffcccc;
  cursor: none;
  overflow-x: none;
}

img, video {
  border-radius: 5px;
}

/* hide scrollbar but allow scrolling */
bodyyy {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

bodyyy::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}