.progress-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4vw;
    top: 30%;
    bottom: 30%;
    right: 2vw;
    padding: 2% 0;
    opacity: 0;

    border-radius: 20px;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.progress-bar-line-container {
    position: relative;
    height: 100%;
}

.progress-bar-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.progress-background-line {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 10px;
    height: 0%;
    background-color: black;
    border-radius: 10px;
}

.progress-dot {
    width: 40%;
    aspect-ratio: 1;
    border-radius: 9999px;
    border: solid  2px black;

    &.selected {
        background-color: black;
    }
}